/*.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}*/
.navbar-header button.navbar-toggle {
  clear: both;
  /*margin-top: 30px;*/
}

#header-nav {
  background-color: grey;
  border-radius: 0;
  border: 0;
	border-top: solid black 2px;
	border-bottom: solid black 2px;

}
.navbar-brand {
	margin-top: -30px;
	height: 90px;
}

.navbar-header {
	padding-top: 10px;

}

#brand h1 {
	color: black;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}

#my_navigator ul li{
	background-color: white;
	text-align: center;
	padding: 7px;
	border-bottom: black solid 1px;
	font-size: 1.5em;
}

#menu-title {
	font-size: 1.8em;
}

#main section {
	background-color: grey;
}

#item-title {
	font-size: 1.2em;
} 